  @mixin backgroundImage {
    background-position: 50% 70%;
    background-repeat: no-repeat;
  }
  
  @mixin price {
    display: flex;
    justify-content: center;
    & h3 {
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      font-weight: 100;
      text-transform: uppercase;
    }
    & h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 60px;
      font-weight: 100;
      text-transform: uppercase;
    }
    & h4 {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 300;
    }
  }
  
  @mixin h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  
  @mixin text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 53px;
    font-weight: 300;
    color: #181818;
  }
  
  @mixin a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    font-family: "Bebas Neue";
    letter-spacing: 0.08em;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    border-radius: 25px;
    padding: 1rem 2rem;
    max-width: 200px;
  }