@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300&display=swap");
@import "mixins";
main {
  width: 100%;
  background-color: #9789f9;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  & section {
    background-color: #f5f4f9;
    margin: 0rem 1rem;
  }
  & .ul {
    background-image: url(../images/white-fon.png);
    @include backgroundImage;
    max-height: 610px;
    width: 18%;
    padding: 1rem 4rem 4rem 4rem;
    &--price {
      @include price;
      & h4 {
        position: relative;
        top: 2.5rem;
      }
    }
    & h1 {
      @include h1;
      margin: 0.5rem 0rem;
    }
    & object {
      display: flex;
      margin: 5rem auto 3rem auto;
    }
    & p {
      @include text;
    }
    &--last {
      margin-bottom: 0.5rem;
    }
    & a {
      @include a;
      background-color: #6fcffb;
      margin: 0rem auto;
      position: relative;
      top: 1.8rem;
      &:hover {
        background-color: #91cce7;
      }
    }
  }
  & .webdesign {
    background-image: url(../images/white-fon-2.png);
    @include backgroundImage;
    max-height: 690px;
    width: 21%;
    padding: 2rem 4rem 4rem 4rem;
    position: relative;
    &--bubble {
      display: flex;
      align-items: center;
      opacity: 1;
      position: absolute;
      left: 19rem;
      top: 0rem;
      & object {
        margin: 0rem !important;
      }
      &:hover .popular {
        opacity: 1;
      }
      .popular {
        opacity: 0;
      }
    }
    &--price {
      @include price;
      & h4 {
        position: relative;
        top: 2.5rem;
      }
    }
    & h1 {
      @include h1;
      margin: 0.5rem 0rem;
    }
    & object {
      display: flex;
      margin: 6rem auto 1rem auto;
    }
    & p {
      @include text;
    }
    &--last {
      margin-bottom: 2rem;
    }
    & a {
      @include a;
      background-color: #fd8d7b;
      margin: 0rem auto;
      &:hover {
        background-color: #eeada3;
      }
    }
    & h5 {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      font-size: 11px;
      font-weight: 300;
      color: #a9a9a9;
    }
  }
  & .development {
    background-image: url(../images/white-fon.png);
    @include backgroundImage;
    max-height: 610px;
    width: 18%;
    padding: 1rem 4rem 4rem 4rem;
    &--price {
      @include price;
      & h4 {
        position: relative;
        top: 2.5rem;
      }
    }
    & h1 {
      @include h1;
      margin: 0.5rem 0rem;
    }
    & object {
      display: flex;
      margin: 5rem auto 3rem auto;
    }
    & p {
      @include text;
    }
    &--last {
      margin-bottom: 0.5rem;
    }
    & a {
      @include a;
      background-color: #6fcffb;
      margin: 0.5rem auto 0rem auto;
      position: relative;
      top: 1.8rem;
      &:hover {
        background-color: #91cce7;
      }
    }
  }
}

// / Landscape - телефоны /
@media (max-width: 479px) {}

//   / От ландшафтного экрана телефона до потретного планшета /
@media (min-width: 480px) and (max-width: 767px) {}

//   / От портретного планшета до ландшафтного экрана и настольных дисплеев /
@media (min-width: 768px) and (max-width: 979px) {}

//   / Большой дисплей /
@media (min-width: 980px) and (max-width: 1200px) {}