@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300&display=swap");
@import "mixins";
body {
  background-color: #9789f9;
}

main {
  width: 100%;
  max-width: 1250px;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  & section {
    background-color: #f5f4f9;
    margin: 0rem 1rem;
  }
  & .ul {
    background-image: url(../images/white-fon.png);
    @include backgroundImage;
    max-height: 610px;
    width: 18%;
    padding: 1rem 4rem 4rem 4rem;
    &--price {
      @include price;
      & h4 {
        position: relative;
        top: 2.5rem;
      }
    }
    & h1 {
      @include h1;
      margin: 0.5rem 0rem;
    }
    & object {
      display: flex;
      margin: 5rem auto 3rem auto;
    }
    & p {
      @include text;
    }
    &--last {
      margin-bottom: 0.5rem;
    }
    & a {
      @include a;
      background-color: #6fcffb;
      margin: 0rem auto;
      position: relative;
      top: 1.8rem;
      &:hover {
        background-color: #91cce7;
      }
    }
  }
  & .webdesign {
    background-image: url(../images/white-fon-2.png);
    @include backgroundImage;
    max-height: 690px;
    width: 21%;
    padding: 2rem 4rem 4rem 4rem;
    position: relative;
    &--bubble {
      display: flex;
      align-items: center;
      opacity: 1;
      position: absolute;
      left: 19rem;
      top: 0rem;
      & object {
        margin: 0rem;
      }
      &:hover .popular {
        opacity: 1;
      }
      .popular {
        opacity: 0;
      }
    }
    &--price {
      @include price;
      & h4 {
        position: relative;
        top: 2.5rem;
      }
    }
    & h1 {
      @include h1;
      margin: 0.5rem 0rem;
    }
    & object {
      display: flex;
      margin: 6rem auto 1rem auto;
    }
    & p {
      @include text;
    }
    &--last {
      margin-bottom: 2rem;
    }
    & a {
      @include a;
      background-color: #fd8d7b;
      margin: 0rem auto;
      &:hover {
        background-color: #eeada3;
      }
    }
    & h5 {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      font-size: 11px;
      font-weight: 300;
      color: #a9a9a9;
    }
  }
  & .development {
    background-image: url(../images/white-fon.png);
    @include backgroundImage;
    max-height: 610px;
    width: 18%;
    padding: 1rem 4rem 4rem 4rem;
    &--price {
      @include price;
      & h4 {
        position: relative;
        top: 2.5rem;
      }
    }
    & h1 {
      @include h1;
      margin: 0.5rem 0rem;
    }
    & object {
      display: flex;
      margin: 5rem auto 3rem auto;
    }
    & p {
      @include text;
    }
    &--last {
      margin-bottom: 0.5rem;
    }
    & a {
      @include a;
      background-color: #6fcffb;
      margin: 0.5rem auto 0rem auto;
      position: relative;
      top: 1.8rem;
      &:hover {
        background-color: #91cce7;
      }
    }
  }
}

// / Landscape - телефоны /
@media (max-width: 479px) {
  & main {
    display: flex;
    flex-direction: column;
    width: 100%;
    & .ul {
      width: 100%;
      margin-bottom: 3rem;
      padding: 1rem 3rem 4rem 3rem;
      & a {
        width: 250px;
      }
    }
    & .webdesign {
      width: 100%;
      position: relative;
      margin-bottom: 3rem;
      padding: 1rem 3rem 4rem 3rem;
      &--bubble {
        position: absolute;
        top: 0rem;
        left: 0rem;
      }
      & object {
        display: flex;
        margin: 0rem auto 0rem auto;
      }
      & .object1 {
        margin-top: 5.5rem;
      }
      & a {
        width: 250px;
        margin-top: 4.5rem;
      }
    }
    & .development {
      width: 100%;
      margin-bottom: 3rem;
      padding: 1rem 3rem 4rem 3rem;
      & a {
        width: 250px;
      }
    }
  }
}

//   / От ландшафтного экрана телефона до потретного планшета /
@media (min-width: 480px) and (max-width: 767.9999px) {
  & main {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    & .ul {
      width: 100%;
      margin-bottom: 3rem;
      padding: 1rem 3rem 4rem 3rem;
      background-size: 100% 60%;
      & a {
        width: 250px;
      }
    }
    & .webdesign {
      width: 100%;
      position: relative;
      margin-bottom: 3rem;
      padding: 1rem 3rem 4rem 3rem;
      background-size: 100% 60%;
      &--bubble {
        position: absolute;
        top: 0rem;
        left: 0rem;
        & object {
          margin: 0!important;
        }
      }
      & object {
        display: flex;
        margin: 7rem auto 1rem auto;
      }
      & a {
        width: 250px;
      }
    }
    & .development {
      width: 100%;
      margin-bottom: 3rem;
      padding: 1rem 3rem 4rem 3rem;
      background-size: 100% 60%;
      & a {
        width: 250px;
      }
    }
  }
}

//   / От портретного планшета до ландшафтного экрана и настольных дисплеев /
@media (min-width: 768px) and ( max-width: 1024px) {
  & main {
    display: flex;
    width: 100%;
    & section {
      margin: 0rem .5rem;
    }
    & .ul {
      width: 32%;
      margin-bottom: 3rem;
      padding: 1rem 2rem 4rem 1rem;
      & a {
        width: 250px;
      }
    }
    & .webdesign {
      width: 34%;
      position: relative;
      margin-bottom: 3rem;
      padding: 1rem 2rem 4rem 1rem;
      &--bubble {
        position: absolute;
        top: 0rem;
        left: 0rem;
        & object {
          margin: 0!important;
        }
      }
      & object {
        display: flex;
        margin: 6 auto 1rem auto;
      }
      & a {
        width: 250px;
        margin-top: 3.5rem;
      }
    }
    & .development {
      width: 34%;
      margin-bottom: 3rem;
      padding: 1rem 2rem 4rem 1rem;
      & a {
        width: 250px;
      }
    }
  }
}

//   / Большой дисплей /
@media (min-width: 1025px) and (max-width: 1440px) {
  & main {
    display: flex;
    width: 100%;
    & section {
      margin: 0rem .5rem;
      background-size: 100% 60%;
    }
    & .ul {
      width: 32%;
      margin-bottom: 3rem;
      padding: 1rem 1rem 4rem 1rem;
      & a {
        margin-top: .8rem;
        width: 250px;
      }
    }
    & .webdesign {
      width: 34%;
      position: relative;
      margin-bottom: 3rem;
      padding: 1rem 2rem 4rem 1rem;
      &--bubble {
        position: absolute;
        top: 0rem;
        left: 0rem;
        & object {
          margin: 0!important;
        }
      }
      & object {
        display: flex;
        margin: 7rem auto 1rem auto;
      }
      & a {
        margin-top: 2rem;
        width: 250px;
      }
    }
    & .development {
      width: 34%;
      margin-bottom: 3rem;
      padding: 1rem 2rem 4rem 1rem;
      & a {
        width: 250px;
      }
    }
  }
}

@media (min-width: 1441px) and (max-width: 2580px) {
  & main {
    display: flex;
    width: 100%;
    & section {
      margin: 0rem .5rem;
      background-size: 100% 60%;
    }
    & .ul {
      width: 32%;
      margin-bottom: 3rem;
      padding: 1rem 1rem 4rem 1rem;
      & a {
        margin-top: .8rem;
        width: 250px;
      }
    }
    & .webdesign {
      width: 34%;
      position: relative;
      margin-bottom: 3rem;
      padding: 2rem 2rem 4rem 1rem;
      &--bubble {
        position: absolute;
        top: 0rem;
        left: 0rem;
        & object {
          margin: 0!important;
        }
      }
      & object {
        display: flex;
        margin: 5rem auto 1rem auto;
      }
      & a {
        margin-top: 3rem;
        width: 250px;
      }
    }
    & .development {
      width: 34%;
      margin-bottom: 3rem;
      padding: 1rem 2rem 4rem 1rem;
      & a {
        width: 250px;
      }
    }
  }
}